{% extends "portfolio/base.html" %} {% load static %} 


{% block title %}<title> skills</title>{% endblock %}

{% block content %}

<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>
<h1>Hi this would be the skill page.</h1>


{% endblock content %}