{% extends "portfolio/base.html" %} {% load static %} 

{% block title %}<title> skills</title>{% endblock %}
{% block content %}

<div class="headterTillFooter">

<header class="header-main">
    <div class="header-image">
        <img id="img" src="{% static 'portfolio/images/Logo.png' %}">
    </div>

</header>


<div class="portfolio-text">
    <h2>Here're my Works</h2>
</div>




<hr>
<h2 class="mt-5" id="portfolio-margin">Web Projects</h2>
<hr>


<div class="row">
    {% for project in web_projects %}
<div class="col-lg-4 col-md-6 ">
<div class="card" style="width:18rem ">
    <img src="{{ project.image.url }}" class="portfolio-image"> 
    <div class="card-body">
      <h5 class="card-title">{{project.title}}</h5>
      <hr>
      <p class="card-text">{{project.descriptions}}</p>
      <hr>
        {% if project.url %}
        <p class="card-text"> <a href="{{project.url }}">{{project.url}}</a> </p>

        {% else %}
        <p class="card-text">No URL yet.</p>
            
        {% endif %}

    </div>
  </div>
  </div>
  {% endfor %}
</div>

<hr>
<h2 class="mt-5" id="portfolio-margin" >Machine Learning Projects</h2>

<div class="row">
    {% for project in ml_projects %}
<div class="col-lg-3 col-md-6 ">
<div class="card" style="width: 18rem;">
    <img src="{{ project.image.url }}" class="portfolio-image"> 
    <div class="card-body">
      <h5 class="card-title">{{project.title}}</h5>
      <hr>
      <p class="card-text">{{project.descriptions}}</p>
      <hr>
        {% if project.url %}
        <p class="card-text"> <a href="{{project.url }}">{{project.url}}</a> </p>

        {% else %}
        <p class="card-text">No URL yet.</p>
            
        {% endif %}

    </div>

  </div>
  </div>
  {% endfor %} 
</div>

</div>


{% endblock %}