.blog-details {
  height: 100vh;
  background-color: black;
}
.blog-details-all-contents {
  /* border: white solid 1px; */
  margin: 50px;
  color: white;
}

.blog-details-title-div {
  /* border: white solid 1px; */
  text-align: center;
}

.blog-title-text {
  font-size: 3rem;
}

.blog-details-createdOn-div {
  /* border: white solid 1px; */
  text-align: center;
  margin-bottom: 25px;
}
.blog-details-content-div {
  /* border: white solid 1px; */
  padding: 5px;
}
