/* ===========================================> */


/* BODY AND OTHERS */

@media (min-width: 992px) {
    #blogdetailtitle {
        font-size: 5rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    border: solid indigo 3px;
    padding: 20px;
}


/* NAVBAR SECTION */

.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .5) !important;
}

.navbar-main {
    padding-bottom: 15px;
    border: indigo solid 2px;
}


/* Blog Title  */

#blogtitle {
    font-size: 6rem;
    color: green;
}


/* ALL THE BLOG CONTENTS */


/* Blog MAIN PAGE */

.show-blogs {
    border: indigo solid 2px;
    padding-left: 2rem;
}

#title #link {
    text-align: center;
    color: #090B0D;
}

#created-on {
    text-align: center;
}


/* =============================================== */


/* LOGIN PAGE  */

.login-main {
    background-color: blanchedalmond;
    border: indigo solid 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
}