@media (min-width: 992px) and (max-width: 10) {
  .blog-details {
    height: 100vh;
    background-color: black;
  }
  .blog-details-all-contents {
    /* border: white solid 1px; */
    margin: 50px;
    color: white;
  }

  .blog-details-title-div {
    /* border: white solid 1px; */
    text-align: center;
  }

  .blog-title-text {
    font-size: 3rem;
  }

  .blog-details-createdOn-div {
    /* border: white solid 1px; */
    text-align: center;
    margin-bottom: 25px;
  }
  .blog-details-content-div {
    /* border: white solid 1px; */
    padding: 5px;
  }
}

/* =========================================================================================*/
/* ========================================================================================= */
/* ========================================================================================= */
/* =========================================================================================  */
/* ========================================================================================= */
/* ==========================================================================================*/
/* For Tabs  */

@media (min-width: 768px) and (max-width: 991px) {
  .blog-details {
    height: 100vh;
    background-color: black;
  }
  .blog-details-all-contents {
    /* border: white solid 1px; */
    margin: 50px;
    color: white;
  }

  .blog-details-title-div {
    /* border: white solid 1px; */
    text-align: center;
  }

  .blog-title-text {
    font-size: 2rem;
  }

  .blog-details-createdOn-div {
    /* border: white solid 1px; */
    text-align: center;
    margin-bottom: 25px;
  }
  .blog-details-content-div {
    /* border: white solid 1px; */
    padding: 5px;
  }
}

/* =========================================================================================*/
/* ========================================================================================= */
/* ========================================================================================= */
/* =========================================================================================  */
/* ========================================================================================= */
/* ==========================================================================================*/
/* For Mobile  */

@media (min-width: 480px) and (max-width: 767px) {
  .blog-details {
    height: 100vh;
    background-color: black;
  }
  .blog-details-all-contents {
    /* border: white solid 1px; */
    margin: 50px;
    color: white;
  }

  .blog-details-title-div {
    /* border: white solid 1px; */
    text-align: center;
  }

  .blog-title-text {
    font-size: 2rem;
  }

  .blog-details-createdOn-div {
    /* border: white solid 1px; */
    text-align: center;
    margin-bottom: 25px;
  }
  .blog-details-content-div {
    /* border: white solid 1px; */
    padding: 5px;
  }
}

/* =========================================================================================*/
/* ========================================================================================= */
/* ========================================================================================= */
/* =========================================================================================  */
/* ========================================================================================= */
/* ==========================================================================================*/
/* For small Mobiles  */

@media (min-width: 310px) and (max-width: 479px) {
  .blog-details {
    height: 100vh;
    background-color: black;
  }
  .blog-details-all-contents {
    /* border: white solid 1px; */
    margin: 50px;
    color: white;
  }

  .blog-details-title-div {
    /* border: white solid 1px; */
    text-align: center;
  }

  .blog-title-text {
    font-size: 2rem;
  }

  .blog-details-createdOn-div {
    /* border: white solid 1px; */
    text-align: center;
    margin-bottom: 25px;
  }
  .blog-details-content-div {
    /* border: white solid 1px; */
    margin-left: -15px;
  }
}
