 {% extends "blog/base.html" %} {% load static %} {% block content %}


 <div class="home-blog-main-div">


 <div class="home-headlines">

<h1 id="blogtitle" class="font-weight-bold text-center home-blog-title">Blog</h1>

<h3 class="text-center">There are {{ blogs.count }} blog{{ blogs.count|pluralize }} here</h3>

</div>

{% for blog in blogs %}

<div class="home-show-blogs">
    <div class="home-each-blog">
    <div class="blog-title">  <a id="link" href="{% url 'blog:details' blog.id %}">
        <h2 class="blog-title">{{ blog.title }}</h2>
    </a>
</div>
    <div class="created-on">
    <h5 class="text-muted created-on">{{ blog.created_on}}</h5>
    </div>
    <div class="blog-content">
    <h4>{{ blog.content|striptags|truncatechars:60 }}</h4>
    <a href="{% url 'blog:details' blog.id %}">read more</a>
</div>
</div>
</div>
 
{% endfor %} 
    <!-- <div class="click-here">
        <h5>To see all the blogs <a href="{% url 'blog:all_blogs' %}">click here</a></h5>
    </div>  -->


<div class="home-category-wrap">
    <p class="home-category-text">Categories</p>

    <ul class="category-ul">
        <a class=" home-category-nav-link "href="{% url 'blog:home' %}"><li class="category-li">All</a></li>
    </ul>
    {% for cat in category %}
    
<div class="home-category-show ">
    <ul class="category-ul">
        <a class=" home-category-nav-link " href="{% url 'blog:category' cat.id %}"><li class="category-li">{{cat.name}} </a></li>
    </ul>
</div>
  
  
{% endfor %}
    
    
</div>

</div>

{% endblock %}