{% extends "blog/base.html" %} {% block content %} {% if error %}

<div class="header">



    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="login-and-reg-div">
    <div class="login-design">
        <form method="POST">
            {% csrf_token %}
            <div class="form-contents">
                {% for i in form %}
                <p>
                    {{ i.label_tag }}<br> {{ i }}
                </p>
                {% endfor %}
            </div>



            <button class="btn btn-primary" type="submit">Login</button>

        </form>
    </div>
</div>
</div>







{% endblock %}